.container-comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.cards-comentarios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  width: 300px;
}
.card-body {
  color: black;
}
.formulario-comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.formulario-comentarios textarea {
  width: 500px;
}
.btn-insert-comment {
  background-color: #007bff;
  color: white;
}
