
/*estilo del contenedor de carrusel de imagenes*/
.container-carrusel {
  margin-top: 10px;
}
/*estilos del icono de no hay vacantes*/
.icon-error {
  margin-top: 40px;
  font-size: 200px;
  display: flex;
  justify-content: center;
  color: red;
}
.container-cards-trabajos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}
