.container-card-details {
  margin-top: 30px;
  padding: 20px;
  /* height: 100vh; */
}
.body-card-details {
  display: flex;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  height: 700px;
  width: 100%;
  padding: 15px;
  height: auto;
}
.image-service{
  width: 500px;
  
}

.text-service-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.puntuacion-service {
  display: flex;
}
.lista-servicios {
  margin-top: 20px;
}

.btns-details{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 700px;
}
.btns-details Button{
  width: 200px;
}
/*Estilos responsivos para adaptarse a dispositivos mas pequeños*/
@media (max-width: 767px) {
  .container-card-details{
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    width: 100%;
    height: auto;
  }
  .body-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto
    
  }
  .image-service{
    width: 100%;
  }
  .lista-servicios{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .btns-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
  }

  
}
