.container-trabajos {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agregar-trabajo {
  display: flex;
  flex-direction: column;
}
.agregar-trabajo input {
  width: 500px;
}

/*ESTILOS PARA LA CARD TRABAJOS*/
.section-trabajos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.card-trabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.body-trabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.body-trabajos img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
}
.body-trabajos p {
  text-align: justify;
  text-align: center;
}
